<div id="wrapper">
  <app-header></app-header>
  <div id="content-wrapper" style="padding-left: 20px;" class="d-flex flex-column">

    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="product_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.product_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="product_price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Product Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.product_price}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="stock">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Stock Left </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.stock}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delivery">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Delivery </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.delivery}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user_name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.user_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user_phone">
          <mat-header-cell *matHeaderCellDef mat-sort-header> User Phone </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.user_phone}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user_pincode">
          <mat-header-cell *matHeaderCellDef mat-sort-header> User Pincode </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.user_pincode}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Order Placed Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>

      </mat-table>
    </div>
  </div>
