<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block">
            <img src="https://s.bigly.io/blog/1525246603-fSpKpmTzwWLILpw.png" alt="">
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user" [formGroup]="commonForm" (ngSubmit)="SubmitForm()">
                <!-- <form class="user"> -->
                <div class="form-group">
                  <input type="text" formControlName="name" [(ngModel)]="name" class="form-control form-control-user"
                    id="exampleInputName" placeholder="Enter Name">
                </div>
                <div class="form-group row">
                  <div class="form-group">
                    <input type="email" formControlName="email" [(ngModel)]="email" class="form-control form-control-user"
                      id="exampleInputEmail" placeholder="Email Address">
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" formControlName="password" [(ngModel)]="password" class="form-control form-control-user"
                      id="exampleInputPassword" placeholder="Password">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" formControlName="city" [(ngModel)]="city" class="form-control form-control-user"
                      id="exampleInputCity" placeholder="Enter City">
                  </div>
                  <div class="col-sm-6">
                    <input type="number" formControlName="pincode" [(ngModel)]="pincode" class="form-control form-control-user"
                      id="exampleRepeatPassword" placeholder="Enter Pincode">
                  </div>
                </div>
                <div class="form-group">
                  <input type="number" formControlName="contacts" [(ngModel)]="contacts" class="form-control form-control-user"
                    id="exampleInputMobile" placeholder="Contact No">
                </div>
                <div class="form-group">
                  <span class="navbar-brand">Person:</span>
                  <input type="radio" (click)="unsetFlag()" [(ngModel)]="person" formControlName="person" value="retailer">
                  Retailer &nbsp;&nbsp;
                  <input type="radio" (click)="setFlag()" [(ngModel)]="person" formControlName="person" value="service_man">
                  Service Man
                </div>
                <div [hidden]="!flag">
                  <div class="form-group">
                    <span class="navbar-brand">Services</span>
                    <select formControlName="services" [(ngModel)]="service" class="form-control ">
                      <option [value]="item.service_id" *ngFor="let item of arrService">{{item.service_name}}</option>
                      <!-- <option value="Electrician">Electrician</option>
                      <option value="Spa">Spa</option> -->
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="number" formControlName="fees" [(ngModel)]="fees" class="form-control form-control-user"
                      id="exampleInputFees" placeholder="Visiting Fees">
                  </div>
                </div>
                <!-- <a  class="btn btn-primary btn-user btn-block">
                  Register Account
                </a> -->
                <button class="btn btn-primary btn-user btn-block" (click)="SubmitForm()">Register Account</button>
                <hr>
              </form>
              <hr>
              <div class="text-center">
                <a class="small">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" [routerLink]="['/login']" routerLinkActive="router-link-active"  href="login.html">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>
