<div id="wrapper">
  <app-header></app-header>

  <div id="content-wrapper" style="padding-left: 20px;" class="d-flex flex-column">
    <h1 style="margin-left: 35%">Advertisements</h1>
    <div class="card shadow mb-4" *ngFor="let item of arrAdv">
      <!-- Card Header - Accordion -->
      <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="collapseCardExample">
        <h6 class="m-0 font-weight-bold text-primary">{{item.advertisement_title}}</h6>
      </a>
      <!-- Card Content - Collapse -->
      <div class="collapse show" id="collapseCardExample">
        <div class="card-body">
          <img [src]="item.advertisement_img" height="150px" width="150px">
          {{item.advertisement_desc}}
        </div>
        Posted on: {{item.advertisement_date | date : 'shortDate'}}
      </div>
    </div>
  </div>
</div>
